<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="top: 25%;">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for Project.new, remote: true, defaults: { input_html: { class: 'form-control' } } do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, id: "create", class: "hidden" %>
          <button type="button" class="btn btn-danger next">next</button>
        <% end %>
      </div>
    </div>
  </div>
</div>