<h4 class="persona_name"><strong><%= persona.name %></strong></h4>
<h5 class="persona_post">
  <% if persona.post.blank? || persona.post.nil? %> 
    <strong>(add a title)</strong>
  <% else %>
    <strong><%= persona.post %></strong>
  <% end %>
</h5>
<ul class="list-unstyled pImages" id="persona_<%= persona.id %>">
  <% if persona.image == nil or persona.image.blank? %>
    <h4 class="chooseImage">Please choose an image</h4>
    <script type="text/javascript">
      images();
    </script>
  <% else %>
    <li><%= link_to image_tag image_url(persona.image) %></li>
  <% end %>
</ul>