<% if attrib == "persona_name" %>
<h4 class="persona_name">
  <%= form_tag("/update_name/#{persona.id}", method: :put, remote: true) do %>
    <%= text_field_tag :name, persona.name, class: "input-small", autocomplete: "off" %>
  <% end %>
</h4>
<% else %>
<h5 class="persona_post">
  <%= form_tag("/update_name/#{persona.id}", method: :put, remote: true) do %>
    <%= text_field_tag :post, persona.post, class: "input-small", autocomplete: "off" %>
  <% end %>
</h5>
<% end %>