<div class="modal fade" id="sharedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="top: 25%;">
    <div class="modal-content">
      <div class="modal-body">
        <h3><strong>This persona is now public and viewable here:</strong></h3>
        <input class="form-control text-right" type="text" value="">
        <button style="margin-top: 10px;" class="btn btn-danger btn-large" data-dismiss="modal">ok</button>
      </div>
    </div>
  </div>
</div>